{% extends 'base.html' %}
{% load static %}
{% block app_css %}
<link rel="stylesheet" type="text/css"
		href="{% static "forecasting/css/styles.css"%}"> 
{% endblock app_css %}

{% block contents %}

<div class="card text-white">
        <div class="card-body">
                <form action="{% url 'forecasting:resultforecasting' %}" method="POST">
                        {% csrf_token %}
                    {{ dating_form }}
                    <button type ="Submit">Submit</button>
                    </form>
        </div>
      </div>


{% endblock contents %}