{% extends 'base.html' %}
{% load static %}
{% block app_css %}
<link rel="stylesheet" type="text/css"
		href="{% static "forecasting/css/styles.css"%}"> 
{% endblock app_css %}

{% block contents %}
<div class='row'>
<div class='col-sm-6'>
<div class="card text-white">
        <div class="card-body">
                        <div class='row'>
                                        <div class='col-sm-3'>
                
                
                                        </div>
                               
                
                                <div class='col-sm-6'>
                
                                                <label class='labelmargin'>Prediksi berdasarkan Bulan</label>    
                                        </div>
                
                
                                        <div class='col-sm-4'>
                
                                                
                                                </div>
                                                <br>
                                                </div>
                <form action="{% url 'forecasting:resultforecasting' %}" method="POST">
                        {% csrf_token %}
                    {{ dating_form }}
                    <button type ="Submit">Submit</button>
                    </form>
        </div>
      </div>
</div>
<div class='col-sm-6'>
      <div class="card text-white">
        <div class="card-body">
                <div class='row'>
                        <div class='col-sm-3'>


                        </div>
               

                <div class='col-sm-6'>

                                <label class='labelmargin'>Prediksi berdasarkan Tahun</label>    
                        </div>


                        <div class='col-sm-4'>

                                
                                </div>
                                <br>
                        
                </div>
                        <form action="{% url 'forecasting:resultforecastingtahun' %}"  method="POST">
                                        {% csrf_token %}
                            <div class='row'>
                                <div class='col-sm-4'> 
                                                <label class='textedited'>Masukkan Tahun</label>

                                </div> 
                              <div class='col-sm-4'> 
                                    <div class="select-wrap">
                                            <select name="tahun" style="width: 100%;">
                                                    <option value="0">---</option>
                                                {% for satuTahun in tahun %}
                                                    <option value={{satuTahun}}>{{satuTahun}}</option>
                                                {% endfor %}
                                            </select>
                                          </div>
                                    </div> 
                            
                                
                                <div class='col-sm-4'>
                                <button type="Submit" class="btn">Prediksi</button>
                        </div>                
                        </div>
                                  </form>
        </div>
</div></div>


{% endblock contents %}