{% extends 'base.html' %}
{% load static %}
{% block app_css %}
<link rel="stylesheet" type="text/css"
		href="{% static "komparasi/css/dropdown.css"%}"> 

{% endblock app_css %}

{% block contents %}

    {% csrf_token %}
    <form action="/action_page.php"  method="POST">
<div class='row'>
    <div class='col-sm-2'> 
            <div class="select-wrap">
                    <label>Masukkan Bulan</label>
                    <select name="bulansatu" style="width: 100%;">
                      <option value="0">---</option>
                      <option value="1">Januari</option>
                      <option value="2">Februari</option>
                      <option value="3">Maret</option>
                      <option value="4">April</option>
                      <option value="5">Mei</option>
                      <option value="6">Juni</option>
                      <option value="7">Juli</option>
                      <option value="8">Agustus</option>
                      <option value="9">September</option>
                      <option value="10">Oktober</option>
                      <option value="11">November</option>
                      <option value="12">Desember</option>

                    </select>
                  </div>
        </div> 
  <div class='col-sm-2'> 
        <div class="select-wrap">
                <label>Masukkan Tahun</label>
                <select name="tahunsatu" style="width: 100%;">
                        <option value="0">---</option>
                    {% for satuTahun in tahun %}
                        <option value={{satuTahun}}>{{satuTahun}}</option>
                    {% endfor %}
                </select>
              </div>
        </div> 

<div class='col-sm-4'> 
    <label>Komparasikan Penjualan Berdasarkan Bulan dan Tahun</label>
    </div> 
 <div class='col-sm-2'> 
        <div class="select-wrap">
                <label>Masukkan Bulan</label>
                <select name="bulandua" style="width: 100%;">
                        <option value="0">---</option>
                        <option value="1">Januari</option>
                        <option value="2">Februari</option>
                        <option value="3">Maret</option>
                        <option value="4">April</option>
                        <option value="5">Mei</option>
                        <option value="6">Juni</option>
                        <option value="7">Juli</option>
                        <option value="8">Agustus</option>
                        <option value="9">September</option>
                        <option value="10">Oktober</option>
                        <option value="11">November</option>
                        <option value="12">Desember</option>
                </select>
              </div>
        </div> 
 <div class='col-sm-2'> 
        <div class="select-wrap">
                <label>Masukkan Tahun</label>
                <select name="tahundua" style="width: 100%;">
                        <option value="0">---</option>
                        {% for satuTahun in tahun %}
                            <option value={{satuTahun}}>{{satuTahun}}</option>
                        {% endfor %}
                </select>
              </div>
        </div>            
     
    </div>
    <br>
    <br>
        <button type="button" class="btn btn-success btn-block">Button 1</button>
              
 
      </form>
{% endblock contents %}