{% extends 'base.html' %}
{% load static %}
{% block app_css %}
<link rel="stylesheet" type="text/css"
		href="{% static "komparasi/css/dropdown.css"%}"> 

{% endblock app_css %}

{% block contents %}


    <form action="{% url 'komparasi:hasilkomparasi' %}"  method="POST">
            {% csrf_token %}
<div class='row'>
    <div class='col-sm-2'> 
            <div class="select-wrap">
                    <label>Masukkan Bulan</label>
                    <select name="bulansatu" style="width: 100%;">
                        <option value="0">---</option>
                        <option value="januari">Januari</option>
                        <option value="februari">Februari</option>
                        <option value="maret">Maret</option>
                        <option value="april">April</option>
                        <option value="mei">Mei</option>
                        <option value="juni">Juni</option>
                        <option value="juli">Juli</option>
                        <option value="agustus">Agustus</option>
                        <option value="september">September</option>
                        <option value="oktober">Oktober</option>
                        <option value="november">November</option>
                        <option value="desember">Desember</option>

                    </select>
                  </div>
        </div> 
  <div class='col-sm-2'> 
        <div class="select-wrap">
                <label>Masukkan Tahun</label>
                <select name="tahunsatu" style="width: 100%;">
                        <option value="0">---</option>
                    {% for satuTahun in tahun %}
                        <option value={{satuTahun}}>{{satuTahun}}</option>
                    {% endfor %}
                </select>
              </div>
        </div> 

<div class='col-sm-4'> 
    <label>    Komparasikan Data Hasil Penjualan Bulanan/Tahun    </label>
    </div> 
 <div class='col-sm-2'> 
        <div class="select-wrap">
                <label>Masukkan Bulan</label>
                <select name="bulandua" style="width: 100%;">
                        <option value="0">---</option>
                        <option value="januari">Januari</option>
                        <option value="februari">Februari</option>
                        <option value="maret">Maret</option>
                        <option value="april">April</option>
                        <option value="mei">Mei</option>
                        <option value="juni">Juni</option>
                        <option value="juli">Juli</option>
                        <option value="agustus">Agustus</option>
                        <option value="september">September</option>
                        <option value="oktober">Oktober</option>
                        <option value="november">November</option>
                        <option value="desember">Desember</option>
                </select>
              </div>
        </div> 
 <div class='col-sm-2'> 
        <div class="select-wrap">
                <label>Masukkan Tahun</label>
                <select name="tahundua" style="width: 100%;">
                        <option value="0">---</option>
                        {% for satuTahun in tahun %}
                            <option value={{satuTahun}}>{{satuTahun}}</option>
                        {% endfor %}
                </select>
              </div>
        </div>            
     
    </div>
    <br>
    <br>
        <button type="Submit" class="btn-block">Komparasi Hasil Penjualan</button>
              
 
      </form>
{% endblock contents %}